@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-text: #637381;
  --gray: #f9fafb;
}

body {
  color: var(--primary-text);
  background: var(--gray);
  font-family: Arial, Helvetica, sans-serif;
}
